<header
  class="fixed bg-white dark:bg-black h-16 w-full flex items-center justify-between px-8 text-neutral-900 shadow-md dark:shadow-none shadow-neutral-300/50 border-b border-transparent dark:border-neutral-800 z-50"
>
  <p class="text-xl font-semibold color-text">Card List</p>
  <div class="flex gap-2">
    <app-light-button (click)="toggleTheme()">
      <i
        class="fa-regular color-text"
        [ngClass]="{ 'fa-moon': isDarkTheme, 'fa-sun': !isDarkTheme }"
      ></i>
    </app-light-button>
    <app-dark-button [value]="'Accueil'" (click)="scrollToTop()" [link]="'/'" />
  </div>
</header>
