<header
  class="fixed bg-white dark:bg-neutral-950 h-16 w-full flex items-center justify-between px-6 text-neutral-900 shadow-md shadow-gray-200/50 dark:shadow-black/50 border-b border-transparent dark:border-neutral-800 z-50"
>
  <p class="text-xl font-semibold color-text">Card List</p>
  <div class="flex gap-2 items-center">
    <button
      class="button bg-neutral-100 dark:bg-neutral-800/75 text-neutral-900 dark:text-neutral-100"
      (click)="toggleTheme()"
    >
      <i
        class="fa-regular color-text"
        [ngClass]="{ 'fa-moon': isDarkTheme, 'fa-sun': !isDarkTheme }"
      ></i>
    </button>
    <app-dark-button [value]="'Accueil'" (click)="scrollToTop()" [link]="'/'" />
  </div>
</header>
