<div
  class="flex flex-col gap-4 border border-transparent dark:border-neutral-800 bg-white dark:bg-neutral-900 shadow-md dark:shadow-black/50 shadow-neutral-300/50 p-4 rounded-lg"
>
  <div class="flex gap-4 items-center">
    <img
      class="h-24 w-24 rounded-lg object-cover object-top"
      [src]="product.imageUrl"
    />
    <div class="flex flex-col gap-4">
      <h3 class="title-3">{{ product.name }}</h3>
      <div class="flex gap-2 items-center">
        <i
          class="fa-regular fa-calendar-days text-green-500 bg-green-50 dark:bg-green-950 p-2 rounded-lg"
        ></i>
        <p class="color-text">
          {{ product.createdDate | date : "fullDate" }}
        </p>
      </div>
    </div>
  </div>
  <div
    class="flex items-center justify-between gap-2 p-2 bg-neutral-100 dark:bg-neutral-800 rounded-lg"
  >
    @if (product.isFavorite) {
    <div class="flex gap-2 items-center">
      <i class="fa-solid fa-caret-right text-green-500"></i>
      <p class="color-text">Favorite product</p>
    </div>
    <app-dark-button (click)="switchfav()">
      <i class="fa-solid fa-heart text-neutral-900"></i>
    </app-dark-button>
    } @else {
    <div class="flex gap-2 items-center">
      <i class="fa-solid fa-caret-right text-green-500"></i>
      <p class="color-text">Simple product</p>
    </div>
    <app-dark-button (click)="switchfav()">
      <i class="fa-regular fa-heart text-neutral-900"></i>
    </app-dark-button>
    }
  </div>
</div>
