<div class="flex flex-col gap-2 mt-8">
  <h1>Retrouvez votre liste de cartes Harry Potter</h1>
  <h2>{{ countFav }} favorites</h2>
</div>
<div class="mt-8 flex flex-col gap-2">
  <app-search-input [(value)]="searchTerm" />
  <div class="relative">
    <app-dark-button (click)="toggleDropDown()" [value]="'Trier par >'" />
    <app-dropdown-menu
      [isDropdownMenuOpen]="isDropdownMenuOpen"
      [items]="menuItems"
    />
  </div>
</div>
<div class="mt-8">
  <h2>Cartes</h2>
</div>
<app-products-list [searchTerm]="searchTerm" [sortOrder]="sortOrder" />
