@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("app/assets/font/Manrope/Manrope-VariableFont_wght.ttf");
}

* {
  font-family: Manrope;
}

body {
  @apply bg-neutral-100 dark:bg-neutral-950;
}

.title-1 {
  @apply font-semibold text-xl text-neutral-900 dark:text-neutral-100;
}

.title-2 {
  @apply border-b-2 border-green-400 w-fit text-neutral-900 dark:text-neutral-100;
}

.title-3 {
  @apply text-lg font-semibold text-neutral-900 dark:text-neutral-100;
}

.button {
  @apply h-10 min-w-10 px-3 rounded-lg font-medium hover:brightness-95 text-neutral-900;
}

.color-text {
  @apply text-neutral-900 dark:text-neutral-100;
}
